{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

{% block title %}
    <title>Beisawa | Blog</title>
{% endblock title %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.icon' %}">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/hamburgers.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>
<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/logo2.jpeg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    {% block content %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2 section-bg2" data-background="{% static 'assets/img/hero/hero7.png' %}">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Blog</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Blog Area Start-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            {% if blogs %}
                            {% for blog in blogs %}
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img 
                                      class="card-img rounded-0" 
                                      src="{{blog.image.url}}" 
                                      alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>{{blog.date.day}}</h3>
                                        <p>{{blog.date|date:"M"}}</p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="{% url 'postdetail' blog.url %}">
                                        <h2 class="blog-head" style="color: #2d2d2d;">
                                            {{blog.title}}
                                        </h2>
                                    </a>
                                    <p>
                                        {{blog.content|safe|linebreaks|truncatechars:250}}
                                    </p>
                                    <ul class="blog-info-link">
                                        <li><a href="#"><i class="fa fa-user"></i>{{blog.category}}</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i> {{blog.comment_count}} comment(s)</a></li>
                                    </ul>
                                </div>
                            </article>
                            {% endfor %}
                            {% else %}
                            <p> There are no blogs at the moment</p>
                            {% endif %}
                            
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                  <!-- Previous Page Links -->
                                  {% if blogs.has_previous %}
                                    <li class="page-item">
                                      <a href="?page=1&search_intent={{ search_intent }}" class="page-link">&laquo; first</a>
                                    </li>
                                    <li class="page-item">
                                      <a href="?page={{ blogs.previous_page_number }}&search_intent={{ search_intent }} class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                      </a>
                                    </li>
                                  {% endif %}
                              
                                  <!-- Current Page Info -->
                                  <li class="page-item disabled">
                                    <span class="page-link">
                                      Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
                                    </span>
                                  </li>
                              
                                  <!-- Next Page Links -->
                                  {% if blogs.has_next %}
                                    <li class="page-item">
                                      <a href="?page={{ blogs.next_page_number }}" class="page-link" aria-label="next">
                                        <i class="ti-angle-right"></i>
                                      </a>
                                    </li>
                                    <li class="page-item">
                                      <a href="?page={{ blogs.paginator.num_pages }}" class="page-link">last &raquo;</a>
                                    </li>
                                  {% endif %}
                                </ul>
                              </nav>
                              

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="{% url 'search' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input name="search_intent" type="text" class="form-control" placeholder='Search Keyword'
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Search Keyword'" required value="{{ search_intent }}"> 
                                            <div class="input-group-append">
                                                <button class="btns" type="button"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Search</button>
                                </form>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Category</h4>
                                <ul class="list cat-list">
                                    {% if blog_categories %}
                                    {% for cat in blog_categories %}
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>{{cat.name}}</p>
                                            <p>({{cat.blog_count}})</p>
                                        </a>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <p>No categories at the moment</p>
                                    {% endif %}
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">
                                    Recent Post
                                </h3>
                                {% if recent_posts %}
                                {% for recent in recent_posts %}
                                <div class="media post_item">
                                    <img 
                                      src="{{recent.image.url}}" 
                                      alt="post"
                                      style="width: 85px; height: 85px;"
                                    />
                                    <div class="media-body">
                                        <a href="blog_details.html">
                                            <h3 style="color: #2d2d2d;">
                                                {{recent.title}}
                                            </h3>
                                        </a>
                                        <p>{{recent.date.date}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <p>No recent posts at the moment</p>
                                {% endif %}
                                
                            </aside>
                            <aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Tag Clouds</h4>
                                <ul class="list">
                                    <li>
                                        <a href="#">project</a>
                                    </li>
                                    <li>
                                        <a href="#">love</a>
                                    </li>
                                    <li>
                                        <a href="#">technology</a>
                                    </li>
                                    <li>
                                        <a href="#">travel</a>
                                    </li>
                                    <li>
                                        <a href="#">restaurant</a>
                                    </li>
                                    <li>
                                        <a href="#">life style</a>
                                    </li>
                                    <li>
                                        <a href="#">design</a>
                                    </li>
                                    <li>
                                        <a href="#">illustration</a>
                                    </li>
                                </ul>
                            </aside>

                            <aside class="single_sidebar_widget instagram_feeds">
                                <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                                <ul class="instagram_row flex-wrap">
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'assets/img/post/post_5.png' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'assets/img/post/post_6.png' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'assets/img/post/post_7.png' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'assets/img/post/post_8.png' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'assets/img/post/post_9.png' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'assets/img/post/post_10.png' %}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget newsletter_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Subscribe</button>
                                </form>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
    {% endblock content %}
    
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
      <!-- JS here -->
      <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
      <!-- Jquery, Popper, Bootstrap -->
      <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <!-- Jquery Mobile Menu -->
      <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
      
      <!-- Jquery Slick , Owl-Carousel Plugins -->
      <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'assets/js/slick.min.js' %}"></script>
      <!-- One Page, Animated-HeadLine -->
      <script src="{% static 'assets/js/wow.min.js' %}"></script>
      <script src="{% static 'assets/js/animated.headline.js' %}"></script>
      <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
      
      <!-- Date Picker -->
      <script src="{% static 'assets/js/gijgo.min.js' %}"></script>
      <!-- Nice-select, sticky -->
      <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
      <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
      
      <!-- Counter, Waypoint, Hover Direction -->
      <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
      <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
      <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
      <script src="{% static 'assets/js/hover-direction-snake.min.js' %}"></script>
      
      <!-- Contact JS -->
      <script src="{% static 'assets/js/contact.js' %}"></script>
      <script src="{% static 'assets/js/jquery.form.js' %}"></script>
      <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
      <script src="{% static 'assets/js/mail-script.js' %}"></script>
      <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
      
      <!-- Jquery Plugins, Main Jquery -->
      <script src="{% static 'assets/js/plugins.js' %}"></script>
      <script src="{% static 'assets/js/main.js' %}"></script>      
      

     
    </body>
</html>