@use './variables';
@use './mixins';
@use './color';


.single-projects{
    .singel-details{
        span{
            color: #FA8F77;
            font-size: 30px;
            margin-bottom: 27px;
            display: block;
        }
        h3{
            font-size: 20px;
            display: block;
            color: #072366;
            font-weight: 800;
            text-transform: capitalize;
            line-height: 1.4;
            @media #{variables.$lg}{
                font-size: 15px;
            }
            @media #{variables.$sm}{
                font-size: 14px;
            }
        }
    }

}
.single-projects-img {
    .singel-details-img{
       img{
            width: 100%;
       }
    }
}
.experience.experience2{
    padding-left: 30px;
    span{
        font-size:50px;
        @media #{variables.$xs}{
            font-size:32px;
        }
    }
    @media #{variables.$md}{
        padding-bottom: 30px;
    }
    @media #{variables.$sm}{
        padding-bottom: 30px;
    }
    @media #{variables.$xs}{
        padding-bottom: 30px;
    }
}
