/* Variables */
:root {
    --ball-size: 15px;
    --bounce-height: 30px;
    --theme-color: #006633;
  }
  
  .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .text {
    color: var(--theme-color);
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
  }
  
  .bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: var(--ball-size);
  }
  
  .bounceball::before {
    position: absolute;
    content: '';
    display: block;
    width: var(--ball-size);
    height: var(--ball-size);
    border-radius: 50%;
    background-color: var(--theme-color);
    transform-origin: center bottom;
    animation: bounce 0.5s alternate infinite ease-in-out;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(var(--bounce-height)) scaleX(1.5);
      height: 5px;
      border-radius: 50% 50% 20% 20%;
    }
    35% {
      transform: translateY(calc(var(--bounce-height) / 2));
      height: var(--ball-size);
      border-radius: 50%;
    }
    100% {
      transform: translateY(0);
      height: var(--ball-size);
    }
  }  